{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="description" content="Historia Clinica Autenticacion"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- nuevos -->

    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="manejocamas">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Manejo Camas">
    <!-- Fin nuevos -->

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pagina Table</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static '/main.js' %}"></script>

   <script language="JavaScript">
    function Horario()
     { myDate = new Date();

      ano = myDate.getFullYear();
      mes = myDate.getMonth();
      if (mes < 10) mes = "0" + mes;

      dia = myDate.getDay();
      if (dia < 10) dia = "0" + dia;

      hours = myDate.getHours();
      minutes = myDate.getMinutes();
      seconds = myDate.getSeconds();

      if (hours < 10) hours = 0 + hours;
      if (minutes < 10) minutes = "0" + minutes;
      if (seconds < 10) seconds = "0" + seconds;

       $("#HoraActual").text(hours+ ":" +minutes+ ":" +seconds);
       $("#FechaActual").text(ano + "-" + mes +"-" +dia);

      setTimeout('Horario()',1000);}

</script>


</head>

<body  style="background-color:#E3F2FD "  onLoad="Horario()" >
<br>
<div class="row">

    <div class="col-xl-1"></div>
    <div class="col-xl-2" style="background-color: lavender;">

        <figure class="figure">
            <img src="{% static '/IMAGES/logo.jpg' %}" class="figure-img img-fluid rounded"  >
            <figcaption class="figure-caption text-left">FUNDACION HOSPITAL SAN CARLOS
            </figcaption>
        </figure>

    </div>

    <div class="col-xl-1"></div>


    <div class="col-xl-4" style="background-color: lavenderblush;">
        <div class="mx-auto" style="width: 1600px;height:300px;">
            <p class="text-left">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mision:</p>


            Brindar una experiencia humanizada e integral en servicio de salud,
            a <br/> nuestros pacientes  y sus familias, con altos estandares de
            calidad  <br/> mediante el mejor talento humano  generando impacto
             social <br/> y ambiental ...

        </div>
    </div>

     <div class="col-xl-1"></div>

    <div class="col-xl-2" style="background-color: lavender;">

         <figure class="figure">
            <img src="{% static '/IMAGES/manito.jpeg' %}"  class="figure-img img-fluid rounded"  >
            <figcaption class="figure-caption text-right">Hola
            </figcaption>
        </figure>

         <div class="col-xl-1"></div>
    </div>

</div>

<div class="row">
     <div class="container">

                <br>
                <br>
         <br>
                <center>

                <div class="card-block">
                    <h2 id="FechaActual" name="FechaActual"> </h2>
                    <br>
                    <h2 id="HoraActual" name="HoraActual"> </h2>


                </div>
                 </center>
    </div>
</div>

</body>
</html>